.about-container {
  background: linear-gradient(to right, #f5f5f5, #e8e8e8);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sections-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin-top: 20px; /* Add margin for spacing */
  }
  
  .section-left {
    flex-basis: 45%; /* Adjust the percentage to control the width of left section */
    padding: 10px;
    text-align: center;
  
  }
  
  .section-right {
    flex-basis: 45%; /* Adjust the percentage to control the width of right section */
    padding: 10px;
    text-align: center;
  }
  
  .section-img-1 {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 80px;
  }

  .section-img-2 {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 80px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }

  .section-text {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 40px;
  }

  .property-text-1 {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    line-height: 35px;
    font-size: 1.25rem;
  }

  .property-text-2 {
    margin-top: 160px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    line-height: 35px;
    font-size: 1.25rem;
  }

  .property-text-3 {
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    line-height: 35px;
    font-size: 1.25rem;
  }

  .property-text-4 {
    margin-top: 160px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    line-height: 35px;
    font-size: 1.25rem;
  }